node_modules/electron/dist/electron.exe
node_modules\electron\dist\electron.exe
C:\Users\laptop\Desktop\college\zSem4\Monday - Javascript\Github\2068Electron\JSElectronTutorial\node_modules\electron\dist\electron.exe
